body {
    background: #CCCCCC
}

#banner {
    width: 100%;
}

#titulo {
    text-align: center
}

p {
    text-align: center;
    margin: 0 0 30px;
}

#missao {
    font-size: 20px
}

em strong {
    color: #FF0000;
}